<div class="flex flex-col items-center justify-center w-full h-screen bg-black text-primary">
    
    <h1 class="text-5xl font-bold animate-fadeInDown">CV</h1>
    
    <div class="cv-section">
        <div class="left-column">
            <div class="cv-card">
                <h3>Test</h3>
                <p>texte a ecrire</p>
            </div>
        </div>
        <div class="right-column">
            <div class="cv-card">
                <div class="cv-card-element">
                    <h3>Test &</h3>
                    <p>texte a ecrire</p>
                </div>
                <div class="cv-card-element">
                    <h3>Test é</h3>
                    <p>texte a ecrire</p>
                </div>
                <div class="cv-card-element">
                    <h3>Test "</h3>
                    <p>texte a ecrire</p>
                </div>
            </div>
        </div>
    </div>

</div>
