<!----------------------------------------------------------------------------------------------------------->
<!-- Empty layout -->
<!----------------------------------------------------------------------------------------------------------->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>
<!----------------------------------------------------------------------------------------------------------->
<!-- Minimal layout -->
<!----------------------------------------------------------------------------------------------------------->
<minimal-layout *ngIf="layout === 'minimal'"></minimal-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Settings drawer - Remove this to remove the drawer and its button -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<settings></settings>
